<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <button onclick="subscribe()">Subscribe</button>
    <script>
      async function subscribe() {
      console.log("before ready");
        let sw = await navigator.serviceWorker.ready;
        console.log("after ready");
        let push = await sw.pushManager.subscribe({
          userVisibleOnly: true,
          applicationServerKey:
            'BFHeG_-cgzrK3xohv4poJ7z4tpX9oDROrj8Rj3fXCjpuuK8pKdNSmF5T2rKKEY0lammQ_2_f1t_NGyG0RqOuynk'
        });
        console.log(JSON.stringify(push));
        const Http = new XMLHttpRequest();
        const url= "{{url_for("save_endpoint")}}?".concat("data=".concat(JSON.stringify(push)));
        console.log(url);
        Http.open("POST", url);

        Http.send();
      }

      if ('serviceWorker' in navigator) {
        addEventListener('load', async () => {
        console.log("before await");
          let sw = await navigator.serviceWorker.register('{{url_for("sw_js")}}');
          console.log("await finished");
          console.log(sw);
        });
      }
    </script>

    <button onclick="notify()">Notify</button>
    <script>
      async function notify() {
        console.log("notifying starts");

        const Http = new XMLHttpRequest();
        const url= "{{url_for("notify_all")}}";
        Http.open("POST", url);
        Http.send();
      };
    </script>

  <button onclick="clear_all()">Clear</button>
    <script>
      async function clear_all() {
        console.log("cleared starts");

        const Http = new XMLHttpRequest();
        const url= "{{url_for("clear_everything")}}";
        Http.open("POST", url);
        Http.send();
      };
    </script>
  </body>
</html>
